*.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
*.apk
*.ap_
*.dex
*.class
bin/
gen/
.gradle/
build/
/*/build/
local.properties
proguard/
*.log
gen-external-apklibs

.idea/scopes/scope_settings.xml

build.gradle

gradlew.bat

RemarkableSDK.iml

gradle.properties

gradlew

app/proguard-rules.pro

app/app.iml

.idea/copyright/profiles_settings.xml
